@import 'loader.css';

body {
	background-color: black;
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: rgb(200, 200, 200);
}

.flex-col {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-col_home {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.spacer {
	flex-grow: 1;
}

.title {
	font-size: 7vmin;
	letter-spacing: 5vmin;
	text-indent: 5vmin;
}

.back_slash {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 5vmin;
	line-height: 4vmin;
	font-weight: bold;
	padding: 3vmin;
	z-index: 5;
	cursor: pointer;
}

.links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 3vmin;
}

.links_home {
	flex-grow: 1;
}


.link {
	padding: 1vmin;
	width: 20vmin;
	text-align: center;
}

.link.active {
	font-size: 5vmin;
}


.contact_info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.contact_item {
	font-size: 5vmin;
	padding: 2vmin;
}

.about {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.about_title {
	font-size: 2rem;
	padding-top: 5vmin;
}

.people {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5vmin;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vmin;
	flex-grow: 1;
	max-width: 20rem;
}

.name {
	font-size: 2rem;
}

.bio {
	padding: 2rem 0;
}


.work {
	flex-grow: 1;
	display: flex;
	min-height: 90vh;
}

.player_modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.player_close {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 5vmin;
	line-height: 4vmin;
	font-weight: bold;
	padding: 3vmin;
	z-index: 5;
	cursor: pointer;
}

.hidden {
	display: none;
}

.videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	max-width: 100rem;
}

.video {
}

.video img {
	max-width: 100vw;
}

.loader {
	margin-top: 45vh;
}



